
@font-face {
    font-family: 'neue';
    src: local("Helvetica Neue"),url('../fonts/frontpageneue-webfont.woff2') format('woff2'),
         local("Helvetica Neue"),url('../fonts/frontpageneue-webfont.woff') format('woff'),
         local("Helvetica Neue"),url('../fonts/frontpageneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'aller';
    src: local("Helvetica Neue"),url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         local("Helvetica Neue"),url('../fonts/aller_rg-webfont.woff') format('woff'),
         local("Helvetica Neue"),url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}    


